* {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 3.75em;
  background-color: rgba(255, 255, 255, 0.532);
  width: 100%;
  backdrop-filter: blur(25px);
  border: solid 1px black;
  padding: 10px;
  transition: top 0.9s ease;
}

.title {
  font-size: 1.45em;
  font-weight: 800;
  text-transform: uppercase;
}

.userControls {
  display: flex;
  font-family: "Medium";
  gap: 20px;
  font-size: 0.85em;
  font-weight: 550;
}

.header.scrolled {
  position: fixed;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  z-index: 1000; /* Ensure the header stays on top of other content */
}




/*-----------------------------------*\
  #MEDIA-QUERIES
\*-----------------------------------*/

@media only screen and (max-aspect-ratio: 9/16) {}

@media only screen and (max-width: 450px) {

}
    
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-aspect-ratio: 1/1) {
  .title {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
  }

  .userControls {
    display: flex;
    font-family: "Medium";
    gap: 10px;
    font-size: 0.8em;
    font-weight: 550;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-aspect-ratio: 4/3) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-aspect-ratio: 16/9) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (min-aspect-ratio: 16/9) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (min-aspect-ratio: 16/9) {}

