*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.loginForm {
  position: absolute;
  width: 710px;
  height: 5em;
  left: 50%;
  top: 50%;
  margin-left: -355px;
  margin-top: -2.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.input {
  position: relative;
  margin: 1em;
  width: calc(50% - 2em);
  height: 80px;
}

.message {
  width: calc(100% - 2em);
  height: 200px;
}

textarea {
  border: none;
  resize: none;
}

.input-field {
  position: absolute;
  margin: 0.8em 0;
  padding: 0.4em;
  width: 100%;
  height: calc(100% - 1.6em);
  border: none;
  border-radius: 0;
  background: transparent;
  color: black;
  font-size: 1em;
  font-weight: 600;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input-field:focus {
  outline: none;
}

.input-field {
  outline: none;
}

.input-field:focus {
  outline: none; /* Remove outline on focus */
}
.input--filled:focus {
  outline: none;
}

.input-label {
  position: absolute;
  padding: 0 1em;
  margin: 1.2em 0;
  width: 100%;
  height: calc(100% - 2.4em);
  color: Black;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-label-content {
  position: relative;
  display: block;
  padding: 1.5em 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input-label::before,
.input-label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.5px;
  background: rgb(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input-label::before {
  top: 0;
}

.input-label::after {
  bottom: 0;
}

.input-field:focus + .input-label .input-label-content,
.input--filled .input-label-content {
  -webkit-transform: translate3d(0, -90%, 0);
  transform: translate3d(0, -90%, 0);
}

.input-field:focus + .input-label::before,
.input--filled .input-label::before {
  -webkit-transform: translate3d(0, -0.5em, 0);
  transform: translate3d(0, -0.5em, 0);
}

.input-field:focus + .input-label::after,
.input--filled .input-label::after {
  -webkit-transform: translate3d(0, 0.5em, 0);
  transform: translate3d(0, 0.5em, 0);
}

#sendButton {
  width: 200px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid black;
  color: rgb(0, 0, 0);
  border: 0;
  font-weight: bold;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  margin-bottom: 13px;
}

#sendButton:hover,
#sendButton:focus {
  outline: 1px solid black;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.question {
  margin: 0 7px 5px;
  font-size: 0.9em;
}

.productimagesss {
  margin: 60px;
}

.addProductFormContainer {
  display: flex;
}

.addProductImages {
  width: 50%;
  border: 1px solid black;
  border-top: 0;
  padding: 10px;
}
